* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  background-color: black;
}

#section-01 {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
}

input {
  background-color: #191a18;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 260px;
  height: 40px;
  margin-bottom: 15px;
}
.titulo {
  color: #21eb00;
  text-align: center;
  font-size: revert;
  font-weight: 500;
  margin-bottom: 15px;
}

.info {
  text-align: center;
  font-weight: 900;
  margin-bottom: 10px;
}

.bnt {
  background-color: #21eb00;
  color: #191a18;
  border: none;
  font-size: medium;
  font-weight: 600;
  width: 260px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
}

#section-02 {
  max-width: 1300px;
  margin: auto;
  padding: 30px 0;
  display: none;
  height: 100vh;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.top h1 {
  color: #21eb00;
  font-size: xx-large;
}

.top button {
  background-color: #21eb00;
  color: #191a18;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: x-large;
}

.h2 {
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
  color: #191a18;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

ul {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2;
  list-style: none;
}

span {
  color: #21eb00;
  font-size: 3vw;
}

li p {
  list-style-type: none;
  font-size: 10vw;
}

@media (max-width: 600px) {
  .h2 {
    font-size: 20vw;
  }
}

@media (max-width: 349px) {
  .top button {
    font-size: revert;
  }
}
